{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="page-header min-vh-75 position-relative"
       style="background-image: url('{% static 'img/newsroom.jpg' %}')">
      <div class="container mt-10 pt-5">
        <div class="card shadow-sm">
          <div class="card-body text-center">
           <h1>Delete Newspaper</h1>
            <p>Are you sure you want to delete the newspaper: <strong>{{ newspaper }}?</strong></p>
            <p><i>All detail with this newspaper will be also deleted!</i></p>
            <form action="" method="post">
              {% csrf_token %}
              <div style="text-align: left; display: inline-block; margin-bottom: 20px;">
                <div style="text-align: left; display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px;">
                  <input type="submit" value="Yes, delete"
                         class="btn btn-danger btn-block"
                         style="margin-bottom: 10px; width: auto"
                  />
                  <a href="{% url 'newspapers:newspaper-list' %}"
                   class="btn btn-primary btn-block"
                   style="width: auto">
                   Cancel delete
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="position-absolute w-100 z-index-1 bottom-0">
          <svg class="waves" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                    <path id="gentle-wave" d="M-160
                     44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
                    />
                  </defs>
                  <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95)"></use>
                  </g>
          </svg>
        </div>
  </div>
{% endblock %}
