 {% load static %}
  <!DOCTYPE html>
  <html lang="en" itemscope itemtype="http://schema.org/WebPage">

  <head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/newspaper_icon_transparent.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/newspaper_icon_transparent.png' %}">

  <title>
    Inform System
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />

  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'css/soft-design-system.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.7/countUp.umd.js"></script>
  <script src="{% static 'js/plugins/rellax.min.js' %}"></script>
  <script src="{% static 'js/plugins/choices.min.js' %}"></script>
  <script src="{% static 'js/plugins/countup.min.js' %}"></script>
  <script src="{% static 'js/plugins/parallax.min.js' %}"></script>
  <script src="{% static 'js/plugins/flatpickr.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/plugins/prism.min.js' %}"></script>
  <script src="{% static 'js/plugins/tilt.min.js' %}"></script>
  <script src="{% static 'js/soft-design-system.min.js' %}"></script>

  </head>

  <body {% block body %}{% endblock body %} >

    {% block header %}
      {% include 'includes/sidebar.html' %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}

    {% block footer %}
      {% include 'includes/footer_background.html' %}
    {% endblock footer %}

    {% include 'includes/scripts.html' %}

    {% block javascripts %}{% endblock javascripts %}

  </body>
  </html>
